* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  background-color: rgb(22, 22, 22);
  color: #fff;
}

.navbar .navbar-nav a.nav-link {
  color: rgb(194, 189, 189);
  margin-right: 10px;
}

.navbar .navbar-nav a.nav-link:hover {
  color: #fff;
}
#navbarScrollingDropdown {
  font-size: 1.3rem;
}
